<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <typeAliases>
  	<typeAlias alias="Guest" type="com.spring.withwork.vo.Guest"/>
  	<typeAlias alias="Roadmap" type="com.spring.withwork.vo.Roadmap"/>
  	
  </typeAliases>
  
  <mappers>
   <mapper resource="mappings/GuestMapper.xml"/>
   <mapper resource="mappings/RoadmapMapper.xml"/>
  </mappers>
</configuration>




