<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <typeAliases>
  	<typeAlias alias="Roadmap" type="com.spring.withwork.vo.RoadmapVO"/>
  	<typeAlias alias="Todo" type="com.spring.withwork.vo.Todo"/>
  	<typeAlias alias="User" type="com.spring.withwork.vo.User"/>
  </typeAliases>
  
  <mappers>
    <mapper resource="mappings/roadmap-mapper.xml"/>
    <mapper resource="mappings/TodoMapper.xml" />
    <mapper resource="mappings/ChatMapper.xml" />
  </mappers>
</configuration>




